NODE_ENV=production
PORT=3001
NEXT_PUBLIC_LEARNER_WEB_ORIGIN={{ writing_app_web_origin | to_json }}
API_BASE_URL=http://api:4000
ADMIN_ORIGIN={{ writing_app_admin_origin | to_json }}
CSP_REPORT_ONLY=false
