WEB_HOST={{ writing_app_web_host | to_json }}
ADMIN_HOST={{ writing_app_admin_host | to_json }}
{% if writing_app_admin_mcp_enabled | bool %}
ADMIN_MCP_HOST={{ writing_app_admin_mcp_host | to_json }}
{% endif %}
