WEB_IMAGE={{ writing_app_web_image | to_json }}
API_IMAGE={{ writing_app_api_image | to_json }}
ADMIN_IMAGE={{ writing_app_admin_image | to_json }}
CADDY_IMAGE={{ writing_app_caddy_image | to_json }}
CLOUDFLARED_IMAGE={{ writing_app_cloudflared_image | to_json }}
LITESTREAM_IMAGE={{ writing_app_litestream_image | to_json }}
CONFIG_DIRECTORY={{ writing_app_config_directory | to_json }}
SECRETS_DIRECTORY={{ writing_app_secrets_directory | to_json }}
DATA_DIRECTORY={{ writing_app_data_directory | to_json }}
BACKUP_DIRECTORY={{ writing_app_backup_directory | to_json }}
