LITESTREAM_ACCESS_KEY_ID={{ writing_app_r2_access_key_id | to_json }}
LITESTREAM_SECRET_ACCESS_KEY={{ writing_app_r2_secret_access_key | to_json }}
LITESTREAM_BUCKET={{ writing_app_r2_bucket | to_json }}
LITESTREAM_ENDPOINT={{ writing_app_r2_endpoint | to_json }}
LITESTREAM_PATH={{ writing_app_r2_path | to_json }}
