# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.docker
.env.local
.env.development.local
.env.test.local
.env.production.local
apps/api/.env.development
apps/api/.generated/
packages/infra/http-client/.generated/

# Testing
coverage
test-results
playwright-report
/.lighthouseci/
/output/

# Turbo
.turbo
.worktrees/

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist


# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
/.artifacts/
docs/.obsidian/

# Agent skills (Antigravity)
.agent
.superpowers/

# local database
/data

# secret credentials
/credentials
/infra/ansible/inventories/*/hosts.yaml
/infra/ansible/inventories/*/.vault-password
/infra/ansible/inventories/*/group_vars/all.yaml
/infra/ansible/inventories/*/group_vars/vault.yaml

/Kwep
